
<mat-divider></mat-divider>

<div class="mx-5 mt-5 grid bm-8 pt-2" >
  <div class="col-12 mt-5 md:col-6 md:col-offset-3 md:mt-8">
    <img class="p-5 m-auto d-flex" width="80%" src="../../../../assets/Logo.png">
  </div>
  <div class="col-12 mt-5 md:col-6 md:col-offset-3 md:mt-8" style="display: grid;">
    <mat-form-field>
      <mat-label>Buscador de productos</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchInput"
        (input)="searchProduct()"
        [matAutocomplete]="auto"
        >
        <mat-autocomplete autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="onSelectedOption($event)"
          >
          <mat-option *ngFor="let product of products" [value]="product">
            {{product.nombre}}
          </mat-option>
          <mat-option *ngIf="products.length === 0 && searchInput.value &&searchInput.value.length > 0">
            No se encontró nada con el término {{searchInput.value}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let product of productos"
  class="col-12 sm:col-4 md:col-3 xl:col-2">
    <products-card [product]="product"></products-card>
  </div>

</div>
