<div class="flex flex-column">
  <h2 class="text-lg mb-4" style="color: #0092BA;">Ingresar</h2>
  <p>¡Hola Bienvenido a Food Saver!</p>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Constraseña">
  </mat-form-field>
  <button mat-button mat-flat-button color="primary" routerLink="/products/list">
    <mat-icon>save</mat-icon>
    Iniciar Sesión
  </button>

  <div class="flex justify-content-center mt-5">
    <p>¿No tienes cuenta?</p><a routerLink="/auth/new-account" style="color: #296956;">¡Registrate!</a>
  </div>
  <div class="flex justify-content-center mt-5">
    <a routerLink="/auth/new-account" style="color: #296956;">¿Olvidaste tu contrseña?</a>
  </div>

</div>
